/* Website */

.main {
    margin: auto;
    display: flex;
}


body {
    background-color: orangered;
    font-family: 'Lato', sans-serif;
    color: white;
    position: relative;
    margin: 10px;
    min-height: 100%;
    padding: 20px;

}

h3 {
    position: hidden;
}

h2 {
    text-transform: capitalize;
}


/*        Nav*/

nav {
    display: flex;
    background-color: darkred;
    padding: 2px;
    font-family: 'Oswald', sans-serif;
    flex-wrap: wrap;
    text-transform: uppercase;
    justify-content: center;


}

nav {
    position: fixed;
    margin: 0;
    z-index: 1;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(224, 221, 221, 0.62);
    position: fixed;
    top: 0;
    width: 100%;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #b7b7b7;
}


/*her placere jeg logoet på mit splash billede og fjerne liste stilen*/

#splash .logo img {
    width: 45wh;
    height: 45wh;
    right: -9px;
    top: 15px;
    transform: rotate(20deg);
    position: absolute;

}

#splash .logo li {

    list-style-type: none;
}

/*Her bestemmer jeg størrelsen på mit splash billede*/

#splash picture img {
    height: auto;
    width: 100vw;

}

#splash {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    position: relative;
}



/*        menu */

.menu-item {
    background-color: darkred;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
}

.menu-item:hover {
    background-color: #ff0000;
    /* Green */
    color: white;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

@media only screen and (max-width: 1229px) {
    .main-container {
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 780px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}

@media only screen and (max-width: 480px) {
    .ret img {
        width: 100%
    }
    .main-container {
        grid-template-columns: 1fr;
    }
}


#modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    background-color: rgba(0, 0, 0, .7);
    text-align: center;
    display: none;

}

#modal-content {
    width: 70vw;
    height: 70vh;
    background-color: rgba(250, 250, 250, 1);
    margin: auto;

}


#modal.vis {
    display: block;


}

.modal-billede {
    width: 50vw;
    height: auto;
}
